.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.navbar {
  background-color: #4da6ff;
}

.navbar a {
  color: white !important;
}

.navbar form button {
  color: white;
  border-color: white;
}

.navbar form button:hover {
  background-color: blue;
}

.searchBox {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 5px;
}

.input-group {
  margin-top: 1em;
  height: 3em;
  width: 700px !important;
  margin-right: 5px;
  flex-wrap: nowrap !important;
  align-items: flex-end;
  justify-content: flex-end;
}

.input-group-prepend {
  height: 2.5em;
}

.searchBox input[type=text] {
  width: inherit;
  height: 2.5em;
}

.buttons {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
}

.searchBox .buttons button {
  height: 2em;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 1em;
}
