iframe {
  width: 90%;
  height: 500px;
}

@media (max-height: 700px) {
  iframe {
    height: 350px
  }
}

.restaurants-list {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.res-list {
  width: 50%;
}
